
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        About
        <a href="@Url.Action("Index","Account")">Index</a>
        <a href="@Url.Action("Contact","Account")">Contact</a>
    </div>
</body>
</html>
