
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        Contact
        <a href="@Url.Action("Index","Account")">Index</a>
        <a href="@Url.Action("About","Account")">About</a>
    </div>
</body>
</html>
